.book_card {
  position: relative;
  width: 170px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  background: var(--booksCardBg);
  border-radius: 10px;
  margin-top: 50px;
  padding: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.card_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 80px;
}

.name {
  font-weight: bold;
}

.author {
  color: grey;
}

.book_card img {
  max-width: 100%;
  height: 200px;
}

.card_content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card_button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_button button {
  font-family: "roboto", sans-serif;
  font-weight: 600;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.card_text span {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.more {
  background: #007f5f;
  color: white;
  transition: all 0.3s ease-in;
}

.read {
  background: #fa7070;
  color: white;
  margin-bottom: 5px;
  transition: all 0.5s ease-in-out;
}

.read:hover {
  scale: 1.03;
}
.more:hover {
  scale: 1.03;
}
