.quiz_wrapper{
    max-width: 1100;
    margin: 0 auto;
 
}

.quizes_header h1{
    font-weight: 700;
}

.quizes_container{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
   
}

.quiz_card{
    width: 250px;
    padding: 20px;
    height: fit-content;
    background: var(--booksCardBg);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    transition: all 0.3s ease;
    border: 1px solid gainsboro;
}

.quiz_card:hover{
    box-shadow: 0px 0px 10px -3px rgba(255, 81, 0, 0.75);
    
}

.quiz_card img{
    width: 100px;
}

.raiting{
    margin-top: -15px;
}

.quiz_name{
    color: var(--textColor);
    font-weight: bold;
}

@media screen and (max-width:1000px) {
    .quiz_wrapper{
        margin-top: 150px;
    }

    .dropdown_active{
        margin-top: 340px !important;
    }
    
}