.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_text h1 {
  font-size: 40px;
  font-weight: 800;
  color: rgb(45, 47, 49);
}

.header_text p {
  font-size: 17px;
  color: gray;
  letter-spacing: 1px;
}

@media screen and (max-width: 1200px) {
  .home_container {
    display: flex;
    flex-direction: column;
  }

  .header_text {
    max-width: 700px;
    padding: 0 25px 0 25px;
  }
}

@media screen and (max-width: 640px) {
  .header_text {
    max-width: 500px;
    padding: 0 20px 0 20px;
  }
  .header_img img {
    max-width: 80%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 490px) {
  .header_text h1 {
    font-size: 35px;
  }
}
