@import "tailwindcss";

@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter_18pt-Regular.woff2") format("woff2");
    font-display: swap;

}

:root {
    --bgColor: #f97316;
    --primary: #ea580c;
    --accent: #fff8f8;
    --sidebar-width: 270px;
}


*{
    box-sizing: border-box;
}

body,html {
    background-color: var(--bgColor);
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: var(--textColor);
}

#root {
    width: 100%;
    min-height: 100vh;
}