@import "tailwindcss";
@config "../../tailwind.config.ts";


:root {
    --bgColor: #171717;
    --sidebar-bg: #262626;
    --foreground: #f3f0f0;
    --sidebar-width: 270px;
}


*{
    box-sizing: border-box;
}

body,html {
    color: var(--foreground);
    background-color: var(--bgColor);
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

#root {
    width: 100%;
    min-height: 100vh;
}