@import "tailwindcss";
@config "../../tailwind.config.ts";


:root {
    --bgColor: #171717;
    --primary-color: #db4422;
    --primary-color-dark: #b62100b9;
    --sidebar-bg: #262626; 
    --foreground: #f3f0f0;
    --sidebar-width: 270px;
}


*{
    box-sizing: border-box;
}

body,html {
    color: var(--foreground);
    background-color: var(--bgColor);
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

#root {
    width: 100%;
    min-height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #e05435 !important;
  transition: background-color 9999s ease-in-out 0s;
  caret-color: #e05435 !important;
}