.desc {
  font-weight: 400;
  overflow-y: auto;
  height: 150px;
}

.desc::-webkit-scrollbar {
  width: 5px;
}
.desc::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;
}

.desc::-webkit-scrollbar-thumb {
  background: orangered;
  border-radius: 5px;
  width: 5px;
}